.main{
    background-color: #222222;
}
a{
    color:#656565!important;
    font-size: 1.2em;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.payment-method{
    max-height: 30px;
    display: inline-block;
}

.block{
    display: block;
}

.pull{
    margin-left: -0.9em;
}

/* head for heading */
.head{
    color: #656565;
    font-size: 1.5em;
}

.line{
    height: 1px;
    width: 90%;
    background-color: #656565;
}