.bg{
    max-height: '60vh';
}

.box{
    background-color: #eeeeee;
    padding: 2em;
    color: black;
    text-align: justify;
}

.maron{
    color: maroon;
}

.block{
    display: block;
}